.yld-table {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid var(--border-color);
  transition: 0.3s;
  &-wrap {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--bg-color-2);
    &-header {
      align-items: center;
      width: 100%;
      height: 38px;
      background: var(--bg-color-2);
      .yld-table-tr {
        font-weight: 900;
        &:hover {
          background-color: var(--bg-color-2) !important;
        }
      }
    }
    &-body {
      width: fit-content;
      min-width: 100%;
      height: calc(100% - 38px);
      overflow-x: auto;
      overflow-y: auto;
      background: var(--bg-color);
      .yld-table-tr {
        &:first-child {
          border-top: 1px solid var(--border-color);
        }
      }
    }
    .yld-table-header,
    .yld-table-body {
      width: 100%;
      height: 100%;
      .yld-table-tr {
        position: relative;
        display: flex;
        align-items: center;
        height: 38px;
        border-bottom: 1px solid var(--border-color);
        &:last-child {
          border-bottom: 0;
        }
        .yld-table-td {
          position: relative;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          height: 100%;
          padding: 0 10px;
          font-size: var(--font-size-base);
        }
        .yld-table-td-grid {
          border-right: 1px solid var(--border-color);
          &:last-child {
            border-right: 0;
          }
        }
        .yld-table-td-ellipsis {
          display: block;
          overflow: hidden;
          line-height: 46px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .yld-table-td-sort {
          .yld-icon {
            position: relative;
            top: 0;
            right: 0;
            color: var(--text-color);
            cursor: pointer;
            transition: 0.6s;
            &:hover {
              color: var(--primary-color);
              cursor: pointer;
              transition: 0.6s;
            }
          }
        }
      }
      .yld-table-tr-hover {
        background-color: #dadada36;
      }
    }
  }
  .yld-table-row-operation {
    display: flex;
    gap: 10px;
    .yld-btn {
      padding-right: 16px;
      padding-left: 0;
    }
  }
}

.yld-table-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  overflow: auto;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-top: 0;
  .yld-pagination {
    width: 100%;
    justify-content: flex-end;
    .yld-pagination-pre,
    .yld-pagination-next,
    .yld-pagination-item,
    .yld-pagination-pre-disabled,
    .yld-pagination-next-disabled,
    .yld-pagination-item-active {
      background-color: inherit;
      border: 0;
    }
    .yld-pagination-item-active {
      background-color: var(--primary-color);
      border: 0;
    }
  }
}

.yld-table-contianer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &-search{
    background: var(--bg-color);
    padding: 16px 10px;
    margin-bottom: 10px;
    .yld-table-contianer-flex-btn{
      display: grid;
      justify-content: flex-end;
    }
  }
  &-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    background-color: var(--bg-color);
    padding: 2px 10px;
    .btn-tool {
      padding: 0 8px;
    }
  }
}
