body {
  padding: 0;
  margin: 0;

  div {
    box-sizing: border-box;
  }

  .loading {
    animation: spin 0.5s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

body {
  div,
  span,
  td,
  th,
  a,
  button,
  p,
  li,
  input,
  textarea,
  label {
    font-size: 12px !important;
  }

  .arco-icon {
    font-size: 14px !important;
  }

  .arco-empty-image .arco-icon {
    font-size: 48px !important;
  }

  .arco-spin-icon .arco-icon {
    font-size: 20px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  a {
    color: rgb(var(--primary-6));
    text-decoration: none;
  }

  .arco-page-header-content {
    overflow: auto;
  }
}

#root {
  height: 100vh;
  width: 100vw;
}

#root > .arco-result-is-500 {
  position: relative;
  top: 100px;
}

#root > .arco-spin > .arco-spin-icon > .arco-icon-loading {
  font-size: 40px !important;
}

.lyr-docs-wrap > .app-layout-inline-body > .app-layout-inline-body-right {
  & > .app-layout-inline-body-right-title {
    display: none !important;
  }

  & > .app-layout-inline-body-right-footer {
    display: none !important;
  }
}

.lyr-docs-wrap.app-layout-collapsed {
  & > .app-layout-expand-btn {
    left: 0 !important;
  }

  & > .app-layout-inline-body > .app-layout-inline-body-sider {
    background-color: var(--color-fill-1);
    border-right: 1px solid var(--color-border);
    width: 12px;

    & > .app-layout-inline-body-sider-menu {
      display: none;
    }

    & > .app-layout-inline-body-sider-footer {
      display: none;
    }
  }
}

.lyr-docs-wrap
  > .app-layout-inline-body
  > .app-layout-inline-body-right
  > .app-layout-inline-body-right-content {
  padding: 0 !important;
  height: 100% !important;
  position: relative;
}

.lyr-docs-wrap
  > .app-layout-horizontal-body
  > .app-layout-horizontal-body-right {
  & > .app-layout-horizontal-body-right-title {
    display: none !important;
  }

  & > .app-layout-horizontal-body-right-footer {
    display: none !important;
  }

  & > .app-layout-horizontal-body-right-breadcrumb {
    display: none !important;
  }
}

.lyr-docs-wrap.app-layout-collapsed {
  & > .app-layout-expand-btn {
    left: 0 !important;
  }

  & > .app-layout-horizontal-body > .app-layout-horizontal-body-sider {
    background-color: var(--color-fill-1);
    border-right: 1px solid var(--color-border);
    width: 12px;

    & > .app-layout-horizontal-body-sider-menu {
      display: none;
    }

    & > .app-layout-horizontal-body-sider-footer {
      display: none;
    }
  }
}

.lyr-docs-wrap
  > .app-layout-horizontal-body
  > .app-layout-horizontal-body-right
  > .app-layout-horizontal-body-right-content {
  padding: 0 !important;
  height: 100% !important;
  position: relative;
}
.lyr-docs-wrap > .app-layout-horizontal-header {
  box-shadow: none !important;
  border-bottom: 1px solid var(--border-color);
}
.lyr-docs-wrap
  > .app-layout-horizontal-body
  > .app-layout-horizontal-body-sider {
  box-shadow: none !important;
  border-right: 1px solid var(--border-color);
}
.arco-menu-light, .arco-menu-dark{
  background-color: inherit !important;
}
.app-layout-dark {
  .lyr-docs-wrap-menus {
    .arco-menu-item-inner {
      .arco-space-item {
        color: #aaa;
        transition: 0.2s;

        &:hover {
          color: rgb(var(--primary-6));
          transition: 0.2s;
        }
      }
    }

    .arco-menu-selected {
      .arco-space-item {
        color: rgb(var(--primary-6));
      }
    }
  }
}

.custom-backtop {
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--color-fill-2);
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  color: #86909c;
  transition: all 0.1s ease;
}

.custom-backtop:hover {
  background: var(--color-fill-3);
}

.custom-backtop:focus-visible {
  box-shadow: 0 0 0 2px var(--color-primary-light-3);
}

.markdown-viewer {
  background: var(--color-menu-light-bg);
  padding: 20px 80px;

  &-navs {
    width: 160px;
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: var(--color-menu-light-bg);
    padding: 40px 0;

    .arco-menu-item {
      height: 30px;
      line-height: 30px;
      border-left: 2px solid transparent;
    }

    .arco-menu-item.arco-menu-selected {
      border-left: 2px solid rgb(var(--primary-6));
    }
  }

  &-blockquote {
    margin: 10px 0;
    background: var(--color-fill-2) !important;

    p {
      color: var(--color-neutral-10) !important;
    }
  }

  &-code {
    margin: 0 !important;

    &-wrap {
      border-color: var(--color-fill-3) !important;

      &-body {
        padding: 20px !important;
      }

      &-extra {
        border-color: var(--color-fill-3) !important;
      }
    }
  }

  img {
    width: 100%;
  }
}

.app-layout-horizontal-header,
.app-layout-inline-header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 58px;
  z-index: 15;
}

.app-layout-horizontal-body-sider,
.app-layout-inline-body-sider {
  position: fixed;
  top: 0;
  padding-top: 58px;
  z-index: 10;
}

.app-layout-horizontal-body-right,
.app-layout-inline-body-right {
  padding-top: 58px;
  padding-left: 208px;
  width: calc(100vw);
  min-height: calc(100vh);
  z-index: 5;
  background-color: var(--color-menu-light-bg);

  .app-layout-horizontal-body-right-content,
  .app-layout-inline-body-right-content {
    overflow: unset !important;
    background-color: var(--color-menu-light-bg);
  }
}

.app-layout-horizontal-body-sider-menu,
.app-layout-inline-body-sider-menu {
  height: calc(100vh - 102px);
}

.lyr-docs-wrap > .app-layout-expand-btn {
  display: none;
}

.markdown-viewer-navs {
  position: fixed;
  top: 58px;
}
.app-layout-horizontal-header-menu {
  overflow: hidden;
}

.yld-icon-demo-wrap {
  display: flex;
  flex-wrap: wrap;
  &-icon {
    width: 147px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--border-color);
    transition: 0.3s;
    .yld-icon {
      transition: 0.3s;
      font-size: 32px;
    }
    &:hover {
      transition: 0.3s;
      background-color: var(--bg-color-2);
      .yld-icon {
        transition: 0.3s;
        transform: scale(1.4);
      }
    }
  }
}
.app-layout-horizontal-body-sider-menu .arco-space-item {
  font-weight: 500 !important;
}
.app-layout-horizontal-header-menu .arco-space-item {
  font-weight: 500 !important;
}
