body {
  .loading {
    animation: spin 0.5s infinite linear;
  }
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.markdown-viewer {
  background: var(--color-menu-light-bg);
  padding: 20px 80px;
  &-navs {
    width: 160px;
    position: fixed;
    right: 20px;
    top: 58px;
    height: 100%;
    overflow: auto;
    background-color: var(--color-menu-light-bg);
    padding: 40px 0;
    .arco-menu-item {
      height: 30px;
      line-height: 30px;
      border-left: 2px solid transparent;
    }
    .arco-menu-item.arco-menu-selected {
      border-left: 2px solid rgb(var(--primary-6));
    }
  }
  &-blockquote {
    margin: 10px 0;
    background: var(--color-fill-2) !important;
    p {
      color: var(--color-neutral-10) !important;
    }
  }
  &-code {
    margin: 0 !important;
    &-wrap {
      border-color: var(--color-fill-3) !important;
      &-body {
        padding: 20px !important;
      }
      &-extra {
        border-color: var(--color-fill-3) !important;
      }
    }
  }
  img {
    width: 100%;
  }
}
.yld-layout-horizontal-body-right-breadcrumb{
  display: none;
}
.yld-layout-horizontal-body-right-content{
  position: relative;
  padding: 0;
}
.yld-layout-horizontal-body-right-breadcrumb{
  border-bottom: 1px solid var(--border-color);
}