.yld-loading {
  position: relative;
  .yld-loading-body {
    font-size: var(--font-size);
  }
  .yld-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 930226;
    display: none;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #dadbdd52;
    .yld-loading-mask-spin {
      display: inline-block;
      .yld-icon {
        color: var(--primary-color);
        font-size: 18px;
      }
    }
    .yld-loading-mask-message {
      height: 20px;
      padding-left: 8px;
      color: var(--primary-color);
      font-size: var(--font-size);
    }
  }
}
body[yld-theme='dark'] {
  .yld-loading-mask{
    background-color: #5a5b5c52;
  }
}