.yld-loading {
  position: relative;
  .yld-loading-body {
    font-size: var(--font-size);
  }
  .yld-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 930226;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-2);
    opacity: .5;
    .yld-loading-mask-spin {
      display: inline-block;
      .yld-icon-loading {
        color: var(--primary-color);
      }
    }
    .yld-loading-mask-message {
      padding-left: 8px;
      color: var(--primary-color);
      font-size: var(--font-size);
    }
  }
}
