.yld-layer {
  position: absolute;
  z-index: 999;
  overflow: auto;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 4px;
  box-shadow: 0 2px 8px var(--box-shadow);
  border: 1px solid var(--border-color);
}